{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">
        <h1 class="auth-title">Sign In</h1>
        <p class="auth-subtitle">Welcome back to Money Map</p>

        <form method="post" action="{% url 'account_login' %}" class="auth-form">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="auth-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="auth-group">
                <label for="{{ form.login.id_for_label }}">Username or Email</label>
                {{ form.login }}
                {% if form.login.errors %}
                    <div class="auth-field-error">{{ form.login.errors }}</div>
                {% endif %}
            </div>

            <div class="auth-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="auth-field-error">{{ form.password.errors }}</div>
                {% endif %}
            </div>


            <button type="submit" class="main-btn auth-btn">Sign In</button>
        </form>



        <div class="auth-links">
            <p>
                Don’t have an account?
                <a href="{% url 'account_signup' %}">Register</a>
            </p>
            <p>
                <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}